/* Reset CSS
* --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
  padding: 0;
  margin: 0;
}
/* Defining each section background and styles
* --------------------------------------- */
#holding{

  background: url(https://fitz-cms-images.s3.eu-west-2.amazonaws.com/paphos_sunset.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#holding a {
  color: #fff;
}
a{
  text-decoration:none;
}
table {
  border-spacing: 0;
}
fieldset,img {
  border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-weight: normal;
  font-style: normal;
}
strong{
  font-weight: bold;
}
ol,ul {
  list-style: none;
  margin:0;
  padding:0;
}
caption,th {
  text-align: left;

}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  font-size: 100%;
  margin:0;
  padding:0;
  color:#fff;
}
q:before,q:after {
  content:'';
}
abbr,acronym { border: 0;
}

/* Custom CSS
* --------------------------------------- */
body{
  color: #fff;
}
h1{
  font-size: 4em;
}
p{
  font-size: 1.3em;
}
.section {
  text-align: center;
}
.section p {
  text-align: left!important;
}

/* Menu
* --------------------------------------- */
#menu li {
  display:inline-block;
  margin: 10px;
  color: #000;
  background:#fff;
  background: rgba(255,255,255, 0.5);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#menu li.active{
  background:#666;
  background: rgba(0,0,0, 0.5);
  color: #fff;
}
#menu li a{
  text-decoration:none;
  color: #000;
}
#menu li.active a:hover{
  color: #000;
}
#menu li:hover{
  background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
  padding: 9px 18px;
  display:block;
}
#menu li.active a{
  color: #fff;
}
#menu{
  position:fixed;
  top:0;
  left:0;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin:0;
}


.intro p {
  width: 70%;
  margin: 0 auto;
  font-size: 1.3em;
}
.twitter-share-button{
  position: fixed !important;
  z-index: 99;
  right: 149px;
  top: 9px;
}

#infoMenu{
  height: 20px;
  color: #f2f2f2;
  position:fixed;
  z-index:70;
  bottom:0;
  width:100%;
  text-align:right;
  font-size:0.9em;
  padding:8px 0 8px 0;
}
#infoMenu ul{
  padding: 0 40px;
}
#infoMenu li a{
  display: block;
  margin: 0 22px 0 0;
  color: #333;
}
#infoMenu li a:hover{
  text-decoration:underline;
}
#infoMenu li{
  display:inline-block;
  position:relative;
}

/* Section 1
* --------------------------------------- */
#holding h1{
  color: #fff;
}
#holding p{
  color: #fff;
  text-align: center!important;
}
#holding img{
  margin: 20px 0;
  /* #opacity: 0.7; */
}

/* Section 2
* --------------------------------------- */
#background h1,
#background p{
  z-index: 3;
}
#background p {
  margin-bottom: 10px;
}

#background {
  background-color: #000!important;
}
#background #colors{
  right: 60px;
  bottom: 0;
  position: absolute;
  height: 413px;
  width: 258px;

}
#background a {
  color: #fff;
}
* Section 3
* --------------------------------------- */
#details h1,
#details p{
  z-index: 3;
}
#details p {
  margin-bottom: 10px;
}

#details {
  background-color: #000!important;
}
#details #colors{
  right: 60px;
  bottom: 0;
  position: absolute;
  height: 413px;
  width: 258px;

}
#details a {
  color: #fff;
}
button {
  font-size: 16px;
  color: #fff;

  /* transform: translate(-50%, -50%); */
  width: 50px;
  padding: 15px;
  border: none;
  border-radius: 2px;
  outline: none;
  
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

button.fade:hover {
  opacity: 0.8;
}

.fade {
  opacity: 0.2;
  top: 0;
  left: 0;
  transform: translate(0, 0);
}

